<template>
<section id="category">
	<div class="container">
		<h2>Category</h2>
		<hr>
		<br><br>
		<div class="row">
            <div class="col-lg-4 col-sm-6 text-center category" v-for="category in categories">
                <img class="img-responsive center-block category-img" :src="category.image">
                <h3><a href="" title="">{{category.title}}</a></h3>
                <hr>
            </div>
        </div>
	</div>
</section>
</template>
<script src="./category.js">
</script>

<style src="./category.css">
</style>
