
.navbar {
	background-color: #313131;
	color: #e6e6e6;
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.navbar-default .navbar-nav>li>a{
	color: #e6e6e6;
	transition: .3s;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #737373;
	transition: .3s;
}

.navbar-default .navbar-brand{
	font-family: 'Delius Unicase', cursive;
	color: #EC625F;
	transition: .3s;
}
.navbar-default .navbar-brand:hover{
	color: #ef7876;
	transition: .3s;
}