<template>
  <div id="app">
    <nav-bar></nav-bar>
    <hea-der></hea-der>
    <Category></Category>
	  <foo-ter></foo-ter>
  </div>
</template>

<script>
// import Header from './components/Header.vue'
// import Category from './components/category/Category.vue'
import Footer from './footer/Footer.vue'
import Navbar from './navbar/Navbar.vue'
import Header from './header/Header.vue'
import Category from './category/Category.vue'

export default {
  components: {
    'nav-bar': Navbar,
    'hea-der': Header,
    Category,
    'foo-ter': Footer
  },
  computed: {
    user () {
      return this.$store.state.navbar.profile
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
